.movies{
	display: flex;
	position:relative;

}

.movies>p {
	font-size:40px;
	margin-left: 10px;
	position: absolute;
	transform: translate (0,-50%);
	background-color: black;
	
}
.movies>a {
	
	
	z-index: 1;
}
