.movies{
	display: flex;
	position:relative;

}

.movies>p {
	font-size:40px;
	margin-left: 10px;
	position: absolute;
	top: 50%;
	transform: translate (0%,-50%);
	background-color: black;
	
}
.movies>a {
	
	position: absolute;
	z-index: 1;
	bottom: 20%;
}
.movies>img {
     
    background-color: skyblue;
    border: 10px dotted darkblue;
    border-radius: 50px;
    object-fit: contain;
    margin-left: 20% ; 
