
body {
    background-color: rgb(255, 200, 71);
    color: darkblue;
    font-family: "Fredoka", sans-serif;
    letter-spacing: 2px; 

h1 {
    text-align: center;
    font-size: 70px;
    text-decoration: underline;
}

p {
    font-size: 50px;
}

img {
     
    background-color: skyblue;
    border: 10px dotted darkblue;
    border-radius: 50px;
    object-fit: contain;
    margin: 20px 0; 
}

* {
    padding: 0; 
    margin: 0; 

ul {
    list-style-type: circle;
    font-size: 25px;
    font-family: "Fredoka", sans-serif;
    padding-left: 20px; 
}
